.card-game {
  width: 25em;
  height: 100%;
  border-color: orange;
  margin: 1em;
}
.game-img {
    height: 20em;
    width: auto; 
    padding: 1em;
    object-fit: cover; 
  }
  .card-game:hover{
    transform: scale(1.02);
  }