.card-game {
  width: 25em;
  height: 100%;
  border-color: orange;
  margin: 1em;
  min-width: 22em;
 overflow: auto;
}
.game-img {
    height: 20em;
    width: auto; 
    padding: 1em;
    object-fit: cover; 
  }
  .card-game:hover{
    transform: scale(1.02);
  }
  .price-text{
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(91, 91, 91);
    position: absolute;
    bottom: 0;
    background-color: white;
  }
