.btn-outline-info{
    color: #2e2e2e !important;
    border: 2px solid rgba(0,255,255,1) !important;
    background-color: aliceblue !important;
}
.btn-outline-info:hover{
    box-shadow: -2px 2px 1px rgb(0, 255, 255), 2px -2px 1px rgba(255,0,255,1) !important;
    color: aliceblue;
}