.btn-warning {
  color: black !important;
}

.btn-warning:hover {
  background: rgb(255, 255, 255) !important;
  color: orange;
}
/* .btn:disabled {
  color: #2e2e2e !important;
  border: 2px solid rgb(63, 63, 63) !important;
  background-color: rgb(255, 255, 255) !important;
} */
