.form-select:focus {
    border-color: rgb(255, 45, 45) !important;
    /* outline: none !important; */
    box-shadow: -2px 2px 2px rgb(255, 161, 53) !important;
  }
  .form-select {
    border-color: rgb(255, 0, 0) !important;
    box-shadow: none !important;
  }
  .input-container {
    min-height: 6em;
  }
  .hidden {
    display: none;
  }
  .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: none;
}
