.general-nav {
  background-color: rgb(255, 255, 255) !important;
  box-shadow: 0px 18px 17px -21px rgba(0, 0, 0, 0.35);
}
.bg-body-secondary {
  background-color: rgb(255, 255, 255) !important;
  margin-top: 0 !important;
}
.h1-home {
  font-family: "Poetsen One", sans-serif;
  font-style: italic;
  font-size: 3em;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.08);
}
.logout-button-container {
  position: absolute;
  right: 2em;
  top: 1em;
}
.h1-home:hover {
  transform: scale(1.03);
}
.admin {
  position: absolute;
  right: 10em;
  top: 1em;
}
@media (max-width: 600px) {
  .nav-item-mobile {
    margin-left: 0.7em;
  }
  .h1-home {
    margin-top: 0.3em;
    font-size: 2.5em;
  }
  .general-nav {
    background-color: white !important;
    box-shadow: 0px 18px 17px -21px rgba(0, 0, 0, 0.35);
    height: 5em;
  }
}
