.bg-body-secondary {
  background-color: rgb(255, 255, 255) !important;
}
.footer {
  background-color: rgb(255, 255, 255) !important;
  box-shadow: 0px -18px 17px -21px rgba(0, 0, 0, 0.35);
}

@media (max-width: 600px) {
  .footer-button .button-text {
    display: none;
  }
  .button-mobile {
    display: block !important;
    width: 100% !important;
    margin: 0 auto !important;
  }
}
