
input:focus {
  border-color: rgb(255, 45, 45) !important;
  /* outline: none !important; */
  box-shadow: -2px 2px 2px rgb(255, 161, 53) !important;
}
input {
  border-color: rgb(255, 0, 0) !important;
  box-shadow: none !important;
}
.input-container {
  min-height: 6em;
}
