#root {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  margin: 0;
  padding: 0;
  height: 100%;
}
/* div {
  border: 0.5px solid red;
} */
.center-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
a {
  text-decoration: none !important;
  cursor: pointer !important;
  color: orange !important;
}
